/* GetOwnFeedbacks.css */

.feedbackListContainer {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedbackListContainer h1 {
    margin-bottom: 20px;
}

.feedbackListContainer .refresh-button {
    margin-bottom: 20px;
}

.refresh-button {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.refresh-button:hover {
    background-color: #0056b3;
}

.feedbackTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.feedbackTable th, .feedbackTable td {
    padding: 10px;
    border: 1px solid #dee2e6;
}

.feedbackTable th {
    background-color: #007bff;
    color: white;
}

.feedbackTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}

.button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: #c82333;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button[disabled] {
    background-color: #6c757d;
    cursor: not-allowed;
}

.pagination span {
    padding: 5px 10px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #f8f9fa;
}

.alert {
    margin: 20px 0;
    padding: 20px;
    background-color: #f44336;
    color: white;
    border-radius: 4px;
}

.alert .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert .closebtn:hover {
    color: black;
}
